/*---------- IMPORT ----------*/
@import 'variables';
@import 'snippets';

/*---------- BASE ----------*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: $normal-font-size;
    font-family: $font;
    color: $color-font;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3 ,h4 {
    text-align: center;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: $round;
    color: $color-font;
}

.container {
    width: $desktop-screen;
    margin: auto
}

main {
    width: $desktop-screen;
    margin: auto;
    margin-top: 10vh;
}

/*---------- NAV ----------*/
@include gradient-effect(nav, 0, $blur-effect);

nav {
    z-index: 1;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;

    .nav-container {
        @include flex(row, center, space-between);
        background: white;
        height: 10vh;
        padding: 0 9vw;

        .nav-logo {
            height: 100%;

            a img {
                height: 100%;
            }
        }

        .nav-menu {
            @include flex(row, center, space-between);
            flex-direction: row;
            margin-right: 3rem;

            a {
                transition: 0.3s;
                margin: 0 1rem;
                font-size: 1.25rem;
            }

            a:hover,
            .active,
            .highlight {
                background: $gradient-primary-to-secondary;
                color: $color-background;
            }

            .active:hover,
            .highlight:hover {
                transform: scale(1.1);
            }
        }
    }

    .nav-fixed {
        height: 7vh;

        a {
            font-size: $normal-font-size !important;
        }
    }
}

/*---------- FOOTER ----------*/
@include gradient-effect(footer, $round, $blur-effect);
footer {
    margin-top: 5rem;
    background: $gradient-primary-to-secondary;
    
    .footer-container {
        @include grid(3);
        
        .footer-contact {
            @include flex(column, center, center);

            a, i {
                font-size: $h1-font-size;
                color: $color-background;
            }
        }
        
        .footer-logo {
            @include flex(column, center, center);

            a img {
                height: 20vh;
            }
        }

        .footer-menu {
            @include flex(column, center, center);
            width: 100%;

            @include gradient-effect(a, $round, $blur-effect);
            a {
                @include flex(row, center, space-between);
                margin: 0.5rem;
                width: 50%;
                border-radius: 0;
                border-bottom: $border transparent;
            }

            a:hover {
                border-bottom: $border $color-background;
            }
        }
    }
}

/*---------- COPYRIGHT ----------*/
.copyright {
    @include flex(row, center, center);
    background: $gradient-primary-to-secondary;
    border-top: $border $color-background;        
    color: $color-background;

    p,
    a {
        margin: 0.5rem;
        padding: 0.5rem;
        color: $color-background;
        border-bottom: $border transparent;
    }

    a:hover {
        border-radius: 0;
        border-bottom: $border $color-background;
    }
}
   
@media only screen and (min-width: 768px) and (max-width: 1023px) {
/* Styles for tablets */
    nav {
        position: absolute;

        .nav-container {
            @include flex(column, center, space-between);
            height: 100vh;

            .nav-logo {
                height: 30vh;
            }

            .nav-menu {
                width: 100vw;
                height: 50vh;
                @include flex(column, center, space-between);
                margin: 5rem;
            
                a {
                    @include flex(row, center, space-between);
                    width: 90%;
                    font-size: $h2-font-size;
                }
            }
        }
    }

    footer {
        .footer-container {
            @include grid(1);
        }
    }

    .copyright {
        @include flex(column, center, center);
    }
}

@media only screen and (max-width: 767px) {
/* Styles for mobile devices */
    nav {
        position: absolute;
    
        .nav-container {
            @include flex(column, center, space-between);
            height: 100vh;
        
            .nav-logo {
                height: 30vh;

                img {
                    width: 100%;
                }
            }
        
            .nav-menu {
                width: 100vw;
                height: 50vh;
                @include flex(column, center, space-between);
                margin: 5rem;
            
                a {
                    @include flex(row, center, space-between);
                    width: 90%;
                    font-size: $h2-font-size;
                }
            }
        }
    }
    
    footer {
        .footer-container {
            @include grid(1);

            .footer-logo {
                img {
                    width: 100%;
                }
            }

            .footer-menu {
                a {
                    width: $mobile-screen;
                    margin: auto;
                    margin: 1rem 0;
                    padding: 0;
                }
            }
        }
    }
    
    .copyright {
        @include flex(column, center, center);
    }
}
 