/*---------- IMPORT ----------*/ /*---------- DEFINE COLORS ----------*/
/*---------- DEFINE FONT AND TYPOGRAPHIE ----------*/
/*---------- DEFINE LAYOUT ----------*/
/*---------- DEFINE ANIMATION ----------*/
/*---------- IMPORT ----------*/ /*---------- DEFINE COLORS ----------*/
/*---------- DEFINE FONT AND TYPOGRAPHIE ----------*/
/*---------- DEFINE LAYOUT ----------*/
/*---------- DEFINE ANIMATION ----------*/
/*---------- FLEX ----------*/
.copyright, footer .footer .footer-menu, footer .footer .footer-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .footer .footer-menu a, nav .nav .nav-menu, nav .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

footer .footer .contact p, footer .footer .contact {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

/*---------- GRID ----------*/
/*---------- EFFECTS ----------*/
/*---------- GRADIENT ----------*/
footer .footer .footer-menu a::before, footer .footer .footer-menu a, footer::before, footer, nav::before, nav {
  transition: 0.5s;
  background: linear-gradient(to right, #76b729 0%, #36831d 50%, #76b729 100%);
  background-size: 200% auto;
}

/*---------- BASE ----------*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #222222;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: #222222;
}

.container {
  width: 82vw;
  margin: auto;
}

main {
  margin-top: 10vh;
}

/*---------- NAV ----------*/
nav {
  position: relative;
  color: #ffffff;
}

nav::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 2rem;
  filter: blur(0.75rem);
}

nav:hover,
nav:hover::before {
  background-position: right center;
}

nav {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
}
nav .nav {
  padding: 0 9vw;
  flex-direction: row;
  height: 10vh;
  background: #ffffff;
}
nav .nav .nav-logo {
  height: 100%;
}
nav .nav .nav-logo img {
  height: 100%;
}
nav .nav .nav-menu {
  flex-direction: row;
  width: 60%;
}
nav .nav .nav-menu a:hover,
nav .nav .nav-menu .active,
nav .nav .nav-menu .highlight {
  background: linear-gradient(to right, #76b729 0%, #36831d 100%);
  color: #ffffff;
}
nav .nav .nav-menu .highlight {
  transition: 0.5s;
}
nav .nav .nav-menu .highlight:hover {
  transform: scale(1.1);
}
nav .nav.nav-fixed {
  height: 7vh;
}

footer {
  position: relative;
  color: #ffffff;
}

footer::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 2rem;
  filter: blur(0.75rem);
}

footer:hover,
footer:hover::before {
  background-position: right center;
}

footer {
  background: linear-gradient(to right, #76b729 0%, #36831d 100%);
}
footer .footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
}
footer .footer .footer-img img {
  width: 75%;
}
footer .footer .contact {
  text-align: left;
}
footer .footer .contact h3 {
  color: #ffffff;
  font-weight: 500;
  text-align: left;
}
footer .footer .contact p {
  margin: 1rem 0;
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
}
footer .footer .contact p a {
  padding: 0;
  color: #ffffff;
  border-radius: 0;
  border-bottom: 1px solid transparent;
}
footer .footer .contact p a i {
  height: 1rem;
}
footer .footer .contact p a:hover {
  border-bottom: 1px solid #ffffff;
}
footer .footer .footer-menu a {
  position: relative;
  color: #ffffff;
}
footer .footer .footer-menu a::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 2rem;
  filter: blur(0.75rem);
}
footer .footer .footer-menu a:hover,
footer .footer .footer-menu a:hover::before {
  background-position: right center;
}
footer .footer .footer-menu a {
  flex-direction: row;
  width: 20vw;
  margin: 0.5rem;
  border-bottom: 1px solid transparent;
  border-radius: 0;
}
footer .footer .footer-menu a:hover {
  border-bottom: 1px solid #ffffff;
}

.copyright {
  background: linear-gradient(to right, #76b729 0%, #36831d 100%);
  flex-direction: row;
  border-top: 1px solid #ffffff;
  color: #ffffff;
}
.copyright p,
.copyright a {
  margin: 0.5rem;
  padding: 0.5rem;
  color: #ffffff;
  border-bottom: 1px solid transparent;
}
.copyright a:hover {
  border-radius: 0;
  border-bottom: 1px solid #ffffff;
}/*# sourceMappingURL=master.css.map */