/*---------- IMPORT ----------*/
@import 'variables';
@import 'snippets';

/*---------- BASE ----------*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: $normal-font-size;
    font-family: $font;
    color: $color-font;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: $round;
    color: $color-font;
}

.container {
    width: $desktop-screen;
    margin: auto
}

main {
    margin-top: 10vh;
}

/*---------- NAV ----------*/
@include gradient-effect(nav);
nav {
    background: $color-background;
    position: fixed;
    top: 0;
    left: 0;

    .nav {
        padding: 0 9vw;
        @extend %flex-between;
        flex-direction: row;
        height: 10vh;
        background: $color-background;

        .nav-logo {
            height: 100%;

            img {
                height: 100%;
            }
        }

        .nav-menu {
            @extend %flex-between;
            flex-direction: row;
            width: 60%;

            a:hover,
            .active,
            .highlight {
                background: $gradient-primary-to-secondary;
                color: $color-background;
            }

            .highlight {
                transition: $transition;
            }
        
            .highlight:hover {
                transform: scale(1.1)
            }
        
        }
    }

    .nav.nav-fixed {
        height: 7vh;
    }
}

@include gradient-effect(footer);
footer {
    background: $gradient-primary-to-secondary;
    .footer {
        @include grid(3);
        padding: 1rem;

        
        .footer-img {
            @extend %flex-center;

            img {
                width: 75%;
            }
        }

        .contact {
            @extend %flex-center;
            text-align: center;

            h3 {
                color: $color-background;
                font-weight: $font-weight-medium;
                text-align: left;
            }

            p {
                margin: 1rem 0;
                width: fit-content;
                @extend %flex-left;
                color: $color-background;

                a {
                    color: $color-background;
                    border-radius: 0;
                    border-bottom: $border transparent;
                }

                a:hover {
                    border-bottom: $border $color-background;
                }
            }
        }

        .footer-menu {
            @extend %flex-center;

            @include gradient-effect(a);
            a {
                @extend %flex-between;
                flex-direction: row;
                width: 20vw;
                margin: 0.5rem;
                border-bottom: $border transparent;
                border-radius: 0;
            }

            a:hover {
                border-bottom: $border $color-background;
            }
        }
    }
}

.copyright {
    @extend %flex-center;
    background: $gradient-primary-to-secondary;
    flex-direction: row;
    border-top: $border $color-background;        
    color: $color-background;

    p,
    a {
        margin: 0.5rem;
        padding: 0.5rem;
        color: $color-background;
        border-bottom: $border transparent;
    }

    a:hover {
        border-radius: 0;
        border-bottom: $border $color-background;
    }
}