/*---------- IMPORT ----------*/ /*---------- DEFINE COLORS ----------*/
/*---------- DEFINE FONT AND TYPOGRAPHIE ----------*/
/*---------- DEFINE LAYOUT ----------*/
/*---------- DEFINE ANIMATION ----------*/
/*---------- DEFINE EFFECTS ----------*/
/*---------- IMPORT ----------*/ /*---------- DEFINE COLORS ----------*/
/*---------- DEFINE FONT AND TYPOGRAPHIE ----------*/
/*---------- DEFINE LAYOUT ----------*/
/*---------- DEFINE ANIMATION ----------*/
/*---------- DEFINE EFFECTS ----------*/
/*---------- FLEX ----------*/
/*---------- GRID ----------*/
/*---------- EFFECTS ----------*/
/*---------- GRADIENT ----------*/
footer .footer-container .footer-menu a::before, footer .footer-container .footer-menu a, footer::before, footer, nav::before, nav {
  transition: 0.5s;
  background: linear-gradient(to right, #76b729 0%, #36831d 50%, #76b729 100%);
  background-size: 200% auto;
}

/*---------- BASE ----------*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #333333;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #333333;
}

.container {
  width: 82vw;
  margin: auto;
}

main {
  width: 82vw;
  margin: auto;
  margin-top: 10vh;
}

/*---------- NAV ----------*/
nav {
  position: relative;
  color: #ffffff;
}

nav::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 0;
  filter: blur(0.75rem);
}

nav:hover,
nav:hover::before {
  background-position: right center;
}

nav {
  z-index: 1;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
}
nav .nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: white;
  height: 10vh;
  padding: 0 9vw;
}
nav .nav-container .nav-logo {
  height: 100%;
}
nav .nav-container .nav-logo a img {
  height: 100%;
}
nav .nav-container .nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 3rem;
}
nav .nav-container .nav-menu a {
  transition: 0.3s;
  margin: 0 1rem;
  font-size: 1.25rem;
}
nav .nav-container .nav-menu a:hover,
nav .nav-container .nav-menu .active,
nav .nav-container .nav-menu .highlight {
  background: linear-gradient(to right, #76b729 0%, #36831d 100%);
  color: #ffffff;
}
nav .nav-container .nav-menu .active:hover,
nav .nav-container .nav-menu .highlight:hover {
  transform: scale(1.1);
}
nav .nav-fixed {
  height: 7vh;
}
nav .nav-fixed a {
  font-size: 1rem !important;
}

/*---------- FOOTER ----------*/
footer {
  position: relative;
  color: #ffffff;
}

footer::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 1rem;
  filter: blur(0.75rem);
}

footer:hover,
footer:hover::before {
  background-position: right center;
}

footer {
  margin-top: 5rem;
  background: linear-gradient(to right, #76b729 0%, #36831d 100%);
}
footer .footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer .footer-container .footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer-container .footer-contact a, footer .footer-container .footer-contact i {
  font-size: 3rem;
  color: #ffffff;
}
footer .footer-container .footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer-container .footer-logo a img {
  height: 20vh;
}
footer .footer-container .footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
footer .footer-container .footer-menu a {
  position: relative;
  color: #ffffff;
}
footer .footer-container .footer-menu a::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 1rem;
  filter: blur(0.75rem);
}
footer .footer-container .footer-menu a:hover,
footer .footer-container .footer-menu a:hover::before {
  background-position: right center;
}
footer .footer-container .footer-menu a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  width: 50%;
  border-radius: 0;
  border-bottom: 1px solid transparent;
}
footer .footer-container .footer-menu a:hover {
  border-bottom: 1px solid #ffffff;
}

/*---------- COPYRIGHT ----------*/
.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #76b729 0%, #36831d 100%);
  border-top: 1px solid #ffffff;
  color: #ffffff;
}
.copyright p,
.copyright a {
  margin: 0.5rem;
  padding: 0.5rem;
  color: #ffffff;
  border-bottom: 1px solid transparent;
}
.copyright a:hover {
  border-radius: 0;
  border-bottom: 1px solid #ffffff;
}

@media only screen and (max-width: 767px) {
  /* Styles for mobile devices */
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets */
  nav {
    position: absolute;
  }
  nav .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
  }
  nav .nav-container .nav-logo {
    height: 30vh;
  }
  nav .nav-container .nav-menu {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5rem;
  }
  nav .nav-container .nav-menu a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    font-size: 2rem;
  }
  footer .footer-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=master.css.map */