/*---------- IMPORT ----------*/
@import 'variables';

/*---------- FLEX ----------*/
@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: #{$direction};
    align-items: #{$align};
    justify-content: #{$justify};
}

/*---------- GRID ----------*/
@mixin grid($parts) {
    display: grid;
    grid-template-columns: repeat($parts, 1fr);
}

/*---------- EFFECTS ----------*/
/*---------- GRADIENT ----------*/
%effect-gradient {
    transition: $transition;
    background: $gradient-primary-to-secondary-for-animation;
    background-size: 200% auto;
}

@mixin gradient-effect($element, $border-radius, $blur-effect) {
    #{$element} {
        @extend %effect-gradient;
        position: relative;
        color: $color-background;
    }

    #{$element}::before {
        @extend %effect-gradient;
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: #{$border-radius};
        filter: blur(#{$blur-effect});
    }

    #{$element}:hover,
    #{$element}:hover::before {
        background-position: right center;
    }
}